<div class="accordion__item">
    <div class="accordion__header">
        <p class="accordion__title">@@title</p>
        <button class="accordion__button">
            <!-- Черный крестик (по умолчанию) -->
            <div class="accordion__icon accordion__icon--default">
                <svg class="accordion__svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M9 20H31" stroke="black" stroke-width="2"/>
                    <path d="M20 9V31" stroke="black" stroke-width="2"/>
                </svg>
            </div>

            <!-- Круг с крестиком (при наведении) -->
            <div class="accordion__icon accordion__icon--hover">
                <svg class="accordion__svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z" fill="#8B8B77"/>
                    <path d="M9 20H31" stroke="#E6E2D7" stroke-width="2"/>
                    <path d="M20 9V31" stroke="#E6E2D7" stroke-width="2"/>
                </svg>
            </div>
        </button>
    </div>
    <div class="accordion__content">
        <p class="accordion__text">@@description</p>
    </div>
</div>