<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="assets/img/logo.svg" alt="Логотип">
        </div>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__item"><a href="#">Главная</a></li>
                <li class="header__item"><a href="#">О нас</a></li>
                <li class="header__item"><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>    
    
